<body>

  <section class="error_area p_100">
    <div class="container">
      <div class="error_inner">
        <h4>Nope!</h4>
        <h5>You were blocked by admin</h5>
        <p>Sorry We cannot let you in at this moment</p>
      </div>
    </div>
  </section>

</body>