<section class="solid_banner_area">
  <div class="container">
    <div class="solid_banner_inner">
      <h3>Favorites</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Favorites</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="shopping_cart_area p_100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart_items">
          <h3>Your Favorite Items</h3>
          <div class="table-responsive-md">
            <table class="table">
              <tbody>
                <% for( let i=0; i < products.length; i++ ) { %>
                  <tr>
                    <th scope="row">
                      <img src="users/images/icon/close-icon.png" onclick="deleteButton('<%= products[i]._id %>')"
                        alt="">
                    </th>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="products-images/<%= products[i].images[0] %>"
                            style="max-width:102px ; max-height:123px ;">
                        </div>
                        <div class="media-body">
                          <h4>
                            <%= products[i].title %>
                          </h4>
                        </div>
                      </div>
                    </td>
                    <td>
                    </td>
                    <td>
                      <p class="red">₹ <%= products[i].price %>
                      </p>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="/users/javascript/axios-favorites.js"></script>
</section>