<body>

  <section class="solid_banner_area">
    <div class="container">
      <div class="solid_banner_inner">
        <h3>signup </h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Signup</a></li>
        </ul>
      </div>
    </div>
  </section>


  <section class="login_area p_100">
    <div class="container">
      <div class="login_inner">
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <div class="login_title">
              <h2>create account</h2>
              <% if(locals.message) {%>
                <p style="color: red;">
                  <%= locals.message %>
                </p>
                <% }else{ %>
                  <p>Follow the steps below to create email account enjoy the great mail.com emailing experience.
                    Vivamus
                    tempus risus vel felis condimentum, non vehicula est iaculis.</p>
                  <% } %>

            </div>
            <form class="login_form row" action="/signup" method="post">
              <div class="col-lg-6 form-group">
                <input class="form-control" type="text" placeholder="Name" name="fullname" required>
              </div>
              <div class="col-lg-6 form-group">
                <input class="form-control" type="email" placeholder="Email" name="email" required>
              </div>
              <div class="col-lg-6 form-group">
                <input class="form-control" type="text" placeholder="User Name" name="username" required>
              </div>
              <div class="col-lg-6 form-group">
                <input class="form-control" type="text" placeholder="Phone" name="phone" maxlength="10" required>
              </div>
              <div class="col-lg-6 form-group">
                <input class="form-control" type="password" placeholder="Password" name="password" id="password"
                  required>
              </div>
              <div class="col-lg-6 form-group">
                <input class="form-control" type="password" placeholder="Confirm Password" id="confirm-password"
                  required>
              </div>
              <div class="col-lg-6 form-group">
                <button type="submit" value="submit" class="btn subs_btn form-control">register now</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div id="error" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-close"></i>
          </button>
          <h2>Sorry !</h2>
          <p> Something went wrong </p>
        </div>
      </div>
    </div>
  </div>

  <script>
    var password = document.getElementById('password')
    var confirm_password = document.getElementById('confirm-password')

    function validatePassword() {
      if (password.value !== confirm_password.value) {
        confirm_password.setCustomValidity("Incorrect Password")
      } else {
        confirm_password.setCustomValidity("")
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>

</body>